notes/.obsidian/workspace.json
notes/.obsidian/appearance.json
notes/.obsidian/app.json
notes/.obsidian/core-plugins.json
assignnments/part2/phonebook/db.json
assignnments/part2/phonebook/db.json
*node_modules*
*dist*
assignnments/part3/phonebook/backend/.env
assignnments/part4/bloglist/backend/.env
assignnments/part6/redux-anecdotes/db.json
assignnments/part6/query-anecdotes/db.json
assignnments/part6/query-anecdotes/db.json
assignnments/part7/final-proj-bloglist/backend/.env
